.mainLayout {
  min-height: 100vh;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #0173CE;
  box-shadow: 5px 0 5px rgba(105, 105, 105, 0.4);
  border-top-right-radius: 20px;
}

.logo {
  padding: 16px 0;
  height: 64px;
  display: flex;
  align-items: center;
}

.logoInner {
  display: flex;
  align-items: center;
  height: 48px;
}

.logoText {
  color: #fff;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
}

.mainMenu {
  margin-top: 8px;
  background-color: #0173CE;
}

.mainMenu :global(.ant-menu-item-selected) {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.mainMenu :global(.ant-menu-item:hover) {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.header {
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerRight {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.content {
  margin: 0 0 24px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.footer {
  text-align: center;
}